{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

<!-- this page specific styles -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/new-user.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Subir mascota {% endblock %}

{% block active-mascotas %} class="active" {% endblock %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-offset-4 col-md-4">
                <h3 class="text-center">Sube tu mascota</h3>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col-md-offset-2 col-md-8">
                <form class="form-horizontal" role="form" action="{% url 'create_mascota' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for form in mascota_form %}
                        <div class="form-group">
                            <label for="{{ form.name }}" class="col-md-2 control-label">{{ form.name|title }}</label>
                            <div class="col-md-8">
                                {% for field in form %}
                                    {{ field.errors }}
                                    {{ field }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    {% for form in detalle_form %}
                        <div class="form-group">
                            <label for="{{ form.name }}" class="col-md-2 control-label">{{ form.name|title }}</label>
                            <div class="col-md-8">
                                {% for field in form %}
                                    {{ field.errors }}
                                    {{ field }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn-glow primary">Subir</button>
                            <a href="{% url 'mascotas' %}" class="btn-flat success pull-right">Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
