{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

<!-- this page specific styles -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/user-list.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Lista de mascotas {% endblock %}

{% block active-mascotas %} class="active" {% endblock %}

{% block content %}

    {% csrf_token %}

    <div id="pad-wrapper" class="users-list">
        <div class="row header">
            <h3>Mascotas</h3>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <a href="{% url 'create_mascota' %}" class="btn-flat success pull-right">
                    <span>&#43;</span>
                    Subir mascota
                </a>
            </div>
        </div>
        <!-- Tabla de mascotas -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                Foto
                            </th>
                            <th class="col-md-1">
                                <span class="line"></span>Votos
                            </th>
                            <th class="col-md-3">
                                <span class="line"></span>Nickname
                            </th>
                            <th class="col-md-3">
                                <span class="line"></span>Nombre
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Votar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    {% if mascotas %}
                        {% for mascota in mascotas %}
                            <tr class="first">
                                <td>
                                    <img src="{{ baseUrl }}/{{ mascota.detalle.foto }}" alt="contact" class="img-circle" style="width: 150px; height: auto" />
                                </td>
                                <td>
                                    <input id="{{ mascota.nickname }}" value="{{ mascota.votos }}" style="background:none; border:none; color:#526273;" disabled/>
                                </td>
                                <td>
                                    {{ mascota.nickname }}
                                </td>
                                <td>
                                    {{ mascota.detalle.nombre }}
                                </td>
                                <td>
                                    <a href="{% url 'editar_mascota' mascota.id %}">Editar</a>
                                    &nbsp;-&nbsp;
                                    <button id="{{ mascota.id }}" value="{{ mascota.id }}">Votar</button>

                                    <script type="text/javascript">

                                        var selector = "#" + "{{ mascota.id }}";

                                        $(selector).click(function(e) {

                                            e.preventDefault();

                                            var route = '{% url 'votar_mascota_ajax' %}';
                                            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                                            var mascota_id = $(this).val();

                                            $.ajax({
                                                url: route,
                                                headers: {'X-CSRFToken': csrftoken},
                                                type: "POST",
                                                data: {'mascota_id': mascota_id},
                                                dataType: 'json',
                                                success: function (response) {
{#                                                    alert(response['mensaje']);#}
                                                    var selector2 = "#" + "{{ mascota.nickname }}";
                                                    $(selector2).val(response['cuenta']);
                                                }
                                            });
                                        });

                                    </script>

                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="first">
                            <td colspan="4">No hay mascotas registradas hasta el momento</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end mascotas table -->
        {% if pages %}
            <!-- Paginator -->
            <ul class="pagination pull-right">
                {% if pages.has_previous %}
                    <li><a href="?page={{ pages.previous_page_number }}">&#8249;</a></li>
                {% endif %}
                <li class="active"><a>Page {{ pages.number }} of {{ pages.paginator.num_pages }}.</a></li>
                {% if pages.has_next %}
                    <li><a href="?page={{ pages.next_page_number }}">&#8250;</a></li>
                {% endif %}
            </ul>
            <!-- End paginator -->
        {% endif %}
    </div>

{% endblock %}
