{% extends 'mascotas/_auth.html' %}

<!-- Static files django label -->
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/signin.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Log in {% endblock %}

{% block content %}

    <div style="margin-top: 20px;">
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div class="col-lg-4 col-lg-offset-4 alert alert-success text-center">
                <i class="icon-ok-sign"></i>
                {{ message }}
            </div>
        {% endif %}
        {% if 'error' in message.tags %}
            <div class="col-lg-4 col-lg-offset-4 alert alert-warning text-center">
                <i class="icon-warning-sign"></i>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="login-wrapper">
        <img class="logo" src="{% static 'img/logo-white.png' %}" alt="logo" />

        <div class="box">
            <div class="content-wrap">
                <form class="" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <h6>Log in</h6>
                    <input name="username" class="form-control" type="text" placeholder="Username" required>
                    <input name="password" class="form-control" type="password" placeholder="Your password" required>
                    <br>
                    <button class="btn-glow primary login" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}